In [1]:
# Author: Madhur Gupta
# Github: github.com/guptamadhur
# Project: Pandas

In [7]:
import pandas as pd
data = pd.read_csv('artwork_data.csv',low_memory=False)
data.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922.0,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785,1922.0,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826,1919.0,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [3]:
data.height.transform(lambda x: x)

0         419
1         213
2         467
3         394
4         335
5         338
6         334
7         340
8         335
9         340
10        340
11        150
12        151
13        153
14        152
15        152
16        153
17        153
18        150
19        152
20        152
21        152
22        151
23        151
24        150
25        151
26        150
27        151
28        150
29        150
         ...
69171     760
69172     566
69173     762
69174     NaN
69175     NaN
69176    1679
69177     NaN
69178     NaN
69179     NaN
69180     NaN
69181     NaN
69182     NaN
69183     NaN
69184     267
69185     470
69186     205
69187     317
69188     NaN
69189      57
69190     NaN
69191     NaN
69192    1155
69193     NaN
69194     305
69195     305
69196     305
69197     305
69198    2410
69199     NaN
69200     660
Name: height, Length: 69201, dtype: object

In [6]:
# Height conversion to cm from m
data.height.transform(lambda x: x/10)

0    41.9
1    21.3
2    46.7
3    39.4
4    33.5
5    33.8
6    33.4
7    34.0
8    33.5
9    34.0
Name: height, dtype: float64

In [8]:
data.groupby('artist').transform('nunique')

,id,accession_number,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,4,4,1,1,4,2,3,1,1,1,4,4,4,0,1,0,0,4,4
1,4,4,1,1,4,2,3,1,1,1,4,4,4,0,1,0,0,4,4
2,4,4,1,1,4,2,3,1,1,1,4,4,4,0,1,0,0,4,4
3,4,4,1,1,4,2,3,1,1,1,4,4,4,0,1,0,0,4,4
4,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
5,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
6,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
7,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
8,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
9,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
10,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
11,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
12,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
13,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
14,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
15,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
16,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
17,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
18,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
19,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
20,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
21,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
22,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
23,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
24,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
25,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
26,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
27,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
28,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
29,180,180,2,1,156,56,41,33,27,27,145,105,95,0,1,1,0,175,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69171,17,17,1,1,2,13,6,4,13,3,16,13,13,0,1,0,1,13,17
69172,17,17,1,1,2,13,6,4,13,3,16,13,13,0,1,0,1,13,17
69173,17,17,1,1,2,13,6,4,13,3,16,13,13,0,1,0,1,13,17
69174,19,19,1,1,19,11,14,12,11,8,16,13,14,10,1,1,1,17,19
69175,19,19,1,1,19,11,14,12,11,8,16,13,14,10,1,1,1,17,19
69176,56,56,1,1,9,5,6,5,5,4,10,10,10,1,1,1,1,52,56
69177,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,1
69178,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,1
69179,2,2,1,1,2,2,2,2,2,2,2,1,1,0,1,0,1,1,2
69180,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,1
69181,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,1
69182,5,5,1,1,5,5,5,5,5,5,4,3,3,0,1,0,1,1,5
69183,2,2,1,1,2,2,2,2,2,2,2,1,1,1,1,0,0,0,2
69184,5,5,1,1,5,5,4,3,4,1,5,5,5,5,1,0,1,5,5
69185,5,5,1,1,5,5,4,3,4,1,5,5,5,5,1,0,1,5,5
69186,5,5,1,1,5,5,4,3,4,1,5,5,5,5,1,0,1,5,5
69187,5,5,1,1,5,5,4,3,4,1,5,5,5,5,1,0,1,5,5
69188,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,1,1,1
69189,5,5,1,1,5,5,4,3,4,1,5,5,5,5,1,0,1,5,5
69190,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,1
69191,3,3,1,1,3,2,3,3,2,3,3,2,2,1,1,0,0,0,3
69192,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,0,0,1
69193,162,162,1,1,140,31,27,20,17,13,142,86,84,15,1,1,1,139,162
69194,4,4,1,1,4,2,4,1,2,1,1,1,1,1,1,0,1,2,4
69195,4,4,1,1,4,2,4,1,2,1,1,1,1,1,1,0,1,2,4
69196,4,4,1,1,4,2,4,1,2,1,1,1,1,1,1,0,1,2,4
69197,4,4,1,1,4,2,4,1,2,1,1,1,1,1,1,0,1,2,4
69198,10,10,1,1,10,9,9,7,9,7,7,7,7,4,1,0,1,7,10
69199,13,13,1,1,13,6,10,7,6,6,10,5,6,1,1,0,2,10,13
69200,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,0,1,1

In [9]:
data.filter(items=['id','artist'])

           id                                             artist
0        1035                                      Blake, Robert
1        1036                                      Blake, Robert
2        1037                                      Blake, Robert
3        1038                                      Blake, Robert
4        1039                                     Blake, William
5        1040                                     Blake, William
6        1041                                     Blake, William
7        1042                                     Blake, William
8        1043                                     Blake, William
9        1044                                     Blake, William
10       1045                                     Blake, William
11       1046                                     Blake, William
12       1047                                     Blake, William
13       1048                                     Blake, William
14       1049                                     Blake, William
15       1050                                     Blake, William
16       1051                                     Blake, William
17       1052                                     Blake, William
18       1053                                     Blake, William
19       1054                                     Blake, William
20       1055                                     Blake, William
21       1056                                     Blake, William
22       1057                                     Blake, William
23       1058                                     Blake, William
24       1059                                     Blake, William
25       1060                                     Blake, William
26       1061                                     Blake, William
27       1062                                     Blake, William
28       1063                                     Blake, William
29       1064                                     Blake, William
...       ...                                                ...
69171  121196                                   Barlow, Phyllida
69172  121197                                   Barlow, Phyllida
69173  121198                                   Barlow, Phyllida
69174  115637                                       Latham, John
69175  115638                                       Latham, John
69176  122545                                       Kirkeby, Per
69177  120104                                Karamustafa, Gulsun
69178  121565                                     Walker, Kelley
69179  116157                                    Bulloch, Angela
69180  117761                                     Atlas, Charles
69181  115217  T R Uthco (Doug Hall born 1944, Diane Andrews ...
69182  122537                                    Gordon, Douglas
69183  120527                                       Black, Karla
69184  127128                                       Lord, Andrew
69185  127129                                       Lord, Andrew
69186  127130                                       Lord, Andrew
69187  127131                                       Lord, Andrew
69188  121283                                        Rhodes, Lis
69189  129068                                       Lord, Andrew
69190  117863                               Andrade, Jonathas de
69191  120549                                      Oursler, Tony
69192  123620                                      Sterne, Hedda
69193  122900                                    Flanagan, Barry
69194  122958                                 P-Orridge, Genesis
69195  122959                                 P-Orridge, Genesis
69196  122960                                 P-Orridge, Genesis
69197  122961                                 P-Orridge, Genesis
69198  121181                                       Hatoum, Mona
69199  112306                                      Creed, Martin
69200  127035                                  Brunias, Agostino

[69201 rows x 2 columns]

In [10]:
data.filter(like = 'year')

       year
0       NaN
1       NaN
2      1785
3       NaN
4      1826
5      1826
6      1826
7      1826
8      1826
9      1826
10     1826
11     1828
12     1825
13     1825
14     1825
15     1825
16     1825
17     1825
18     1825
19     1825
20     1825
21     1825
22     1825
23     1825
24     1825
25     1825
26     1825
27     1825
28     1825
29     1825
...     ...
69171  2003
69172  2004
69173  2006
69174  1960
69175  1971
69176  1978
69177  2005
69178  2010
69179  2012
69180  1971
69181  1975
69182  1999
69183  2011
69184  1985
69185  1996
69186  1996
69187  2004
69188  1975
69189  1978
69190  2009
69191  2000
69192  1948
69193  1970
69194  1976
69195  1975
69196  1975
69197  1976
69198  1996
69199  2000
69200  1764

[69201 rows x 1 columns]

In [11]:
# As its case sensitive that why we get single in year and multiple columns in artist
data.filter(like = 'artist')

                                                  artist artistRole  artistId
0                                          Blake, Robert     artist        38
1                                          Blake, Robert     artist        38
2                                          Blake, Robert     artist        38
3                                          Blake, Robert     artist        38
4                                         Blake, William     artist        39
5                                         Blake, William     artist        39
6                                         Blake, William     artist        39
7                                         Blake, William     artist        39
8                                         Blake, William     artist        39
9                                         Blake, William     artist        39
10                                        Blake, William     artist        39
11                                        Blake, William     artist        39
12                                        Blake, William     artist        39
13                                        Blake, William     artist        39
14                                        Blake, William     artist        39
15                                        Blake, William     artist        39
16                                        Blake, William     artist        39
17                                        Blake, William     artist        39
18                                        Blake, William     artist        39
19                                        Blake, William     artist        39
20                                        Blake, William     artist        39
21                                        Blake, William     artist        39
22                                        Blake, William     artist        39
23                                        Blake, William     artist        39
24                                        Blake, William     artist        39
25                                        Blake, William     artist        39
26                                        Blake, William     artist        39
27                                        Blake, William     artist        39
28                                        Blake, William     artist        39
29                                        Blake, William     artist        39
...                                                  ...        ...       ...
69171                                   Barlow, Phyllida     artist     10908
69172                                   Barlow, Phyllida     artist     10908
69173                                   Barlow, Phyllida     artist     10908
69174                                       Latham, John     artist      1470
69175                                       Latham, John     artist      1470
69176                                       Kirkeby, Per     artist      2238
69177                                Karamustafa, Gulsun     artist     15930
69178                                     Walker, Kelley     artist     16207
69179                                    Bulloch, Angela     artist      9058
69180                                     Atlas, Charles     artist     15557
69181  T R Uthco (Doug Hall born 1944, Diane Andrews ...     artist     15133
69182                                    Gordon, Douglas     artist      2617
69183                                       Black, Karla     artist     11563
69184                                       Lord, Andrew     artist      7268
69185                                       Lord, Andrew     artist      7268
69186                                       Lord, Andrew     artist      7268
69187                                       Lord, Andrew     artist      7268
69188                                        Rhodes, Lis     artist     16111
69189                                       Lord, Andrew     artist      7268
69190                               Andrade, Jonathas de     artist     15587
69191                                      Oursler, Tony     artist      2366
69192                                      Sterne, Hedda     artist     16798
69193                                    Flanagan, Barry     artist      1100
69194                                 P-Orridge, Genesis     artist     16646
69195                                 P-Orridge, Genesis     artist     16646
69196                                 P-Orridge, Genesis     artist     16646
69197                                 P-Orridge, Genesis     artist     16646
69198                                       Hatoum, Mona     artist      2365
69199                                      Creed, Martin     artist      2760
69200                                  Brunias, Agostino     artist      3824

[69201 rows x 3 columns]

In [12]:
data.filter(regex="(?i)year")

       year  acquisitionYear
0       NaN           1922.0
1       NaN           1922.0
2      1785           1922.0
3       NaN           1922.0
4      1826           1919.0
5      1826           1919.0
6      1826           1919.0
7      1826           1919.0
8      1826           1919.0
9      1826           1919.0
10     1826           1919.0
11     1828           1919.0
12     1825           1919.0
13     1825           1919.0
14     1825           1919.0
15     1825           1919.0
16     1825           1919.0
17     1825           1919.0
18     1825           1919.0
19     1825           1919.0
20     1825           1919.0
21     1825           1919.0
22     1825           1919.0
23     1825           1919.0
24     1825           1919.0
25     1825           1919.0
26     1825           1919.0
27     1825           1919.0
28     1825           1919.0
29     1825           1919.0
...     ...              ...
69171  2003           2013.0
69172  2004           2013.0
69173  2006           2013.0
69174  1960           2013.0
69175  1971           2013.0
69176  1978           2013.0
69177  2005           2013.0
69178  2010           2013.0
69179  2012           2013.0
69180  1971           2013.0
69181  1975           2013.0
69182  1999           2013.0
69183  2011           2013.0
69184  1985           2013.0
69185  1996           2013.0
69186  1996           2013.0
69187  2004           2013.0
69188  1975           2013.0
69189  1978           2013.0
69190  2009           2013.0
69191  2000           2013.0
69192  1948           2013.0
69193  1970           2013.0
69194  1976           2013.0
69195  1975           2013.0
69196  1975           2013.0
69197  1976           2013.0
69198  1996           2013.0
69199  2000           2013.0
69200  1764           2013.0

[69201 rows x 2 columns]

In [13]:
data.filter(regex = "^100(0|2|4|6|8)$", axis=0)

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
1000,14704,A01004,"Turner, Joseph Mallord William",artist,558,Hedging and Ditching,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 184 x 259 mm,184,259,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-hed...
1002,14706,A01006,"Turner, Joseph Mallord William",artist,558,River Wye,1812,Print on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 183 x 264 mm,183,264,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-riv...
1004,14708,A01008,"Turner, Joseph Mallord William",artist,558,Chain of Alps from Grenoble to Chamberi,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 178 x 259 mm,178,259,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-cha...
1006,14710,A01010,"Turner, Joseph Mallord William",artist,558,Mer de Glace,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 178 x 253 mm,178,253,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-mer...
1008,14712,A01012,"Turner, Joseph Mallord William",artist,558,"Rivaux Abbey, Yorkshire",1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 182 x 265 mm,182,265,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-riv...